{% extends 'base.html' %}

{% block title %}Event Details{% endblock %}

{% block content %}
<div class="flex items-center justify-center min-h-screen">
    <div class="max-w-2xl w-full overflow-hidden bg-white shadow-lg rounded-xl border border-gray-300">
        <div class="border-t border-gray-200">
            <dl>
                <div class="px-4 py-5 bg-gray-50 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-600">
                        Nama Acara
                    </dt>
                    <dd class="mt-1 text-sm text-gray-800 sm:mt-0 sm:col-span-2">
                        {{ event.name }}
                    </dd>
                </div>
                <div class="px-4 py-5 bg-white sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-600">
                        Keterangan
                    </dt>
                    <dd class="mt-1 text-sm text-gray-800 sm:mt-0 sm:col-span-2">
                        {{ event.description }}
                    </dd>
                </div>
                <div class="px-4 py-5 bg-gray-50 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-600">
                        Lokasi Acara
                    </dt>
                    <dd class="mt-1 text-sm text-gray-800 sm:mt-0 sm:col-span-2">
                        {{ event.location }}
                    </dd>
                </div>
                <div class="px-4 py-5 bg-white sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-600">
                        Tanggal Acara
                    </dt>
                    <dd class="mt-1 text-sm text-gray-800 sm:mt-0 sm:col-span-2">
                        {{ event.date }}
                    </dd>
                </div>
            </dl>
        </div>

        <div class="flex items-center justify-between px-4 py-5 bg-gray-100 rounded-b-xl">
            <div class="flex space-x-4">
                <a href="{% url 'event_list' %}" class="bg-black hover:bg-gray-700 text-white px-4 py-2 rounded-md transition-colors duration-200">Back to Events</a>
            </div>
            <div class="flex space-x-4">
                {% if request.session.user_id == event.created_by.id %}
                    <a href="{% url 'event_edit' event.id %}" class="bg-black hover:bg-gray-700 text-white px-4 py-2 rounded-md transition-colors duration-200">Edit</a>
                    <form action="{% url 'event_delete' event.id %}" method="post" onsubmit="return confirm('Apakah anda ingin menghapus acara ini?');">
                        {% csrf_token %}
                        <button type="submit" class="delete-event-button bg-red-500 hover:bg-red-400 text-white px-4 py-2 rounded-md transition-colors duration-200" data-event-id="{{ event.id }}">Delete</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
