{% extends 'base.html' %}
{% load static %}
{% block content %}


<body>
    <div class="container">
        <div>
            <h1>Add Favorites</h1>
        </div>
        <div class="grid gap-5 py-5">
            {% for restaurant in restaurants %}
                <div class="border rounded-3xl border-gray-900 bg-blue-100 transition duration-300 hover:bg-blue-300 py-0 m-0">
                    <div class="m-3">
                        <h3>{{ restaurant.name }}</h3>
                        <p>Deskripsi: {{ restaurant.description }}</p>
                        <p>Address: {{ restaurant.address }}</p>
                        <p>Status: {{ restaurant.halal_status }}</p>
                        <p>Jam Operasi: {{ restaurant.operating_hours }}</p>
                    </div>
                    <div class="pl-10 m-1 flex justify-end">
                        <form action="{% url 'favorites:add_favorite' restaurant.id %}" method="POST" class="favorite-form">
                            {% csrf_token %}
                            <button type="submit" class="favorite-button">
                                Add to Favorites
                            </button>
                        </form>                        <a href="" class="px-3 py-2 hover:bg-yellow-200 border-radius-45px rounded transition duration-300">Remove Favorite</a>
                        <a href="" class="px-3 py-2 hover:bg-yellow-200 border-radius-45px rounded transition duration-300">Add Review</a>
                        <a href="" class="px-3 py-2 hover:bg-yellow-200 border-radius-45px rounded transition duration-300">Remove Review</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>

{% endblock %}
