{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    body {
        margin: 10px;
        padding: auto;
    }
    a {
        text-decoration: none;
        display: inline-block;
        padding: 10px 20px;
        margin-bottom: 10px;
    }
    h1 {
        text-align: center;
        font-family: Montserrat, sans-serif;
        font-size: 30px;
        background-color: rgb(41, 54, 79);
        color: white;
        border-radius: 20px;
        padding: 10px;
    }
    h3 {
        font-size: medium;
        font-weight: 400;
    }
    p {
        font-size: 12px;
        font-style: oblique;
    }
</style>

<body>
    <div class="container">
        <div>
            <h1>Add Favorites</h1>
        </div>
        <div class="grid gap-5 py-5">
            {% for restaurant in restaurants %}
                <div class="border rounded-3xl border-gray-900 bg-blue-100 transition duration-300 hover:bg-blue-300 py-0 m-0">
                    <div class="m-3">
                        <h3>{{ restaurant.name }}</h3>
                        <p>Deskripsi: {{ restaurant.description }}</p>
                        <p>Address: {{ restaurant.address }}</p>
                        <p>Status: {{ restaurant.halal_status }}</p>
                        <p>Jam Operasi: {{ restaurant.operating_hours }}</p>
                    </div>
                    <div class="pl-10 m-1 flex justify-end">
                        <a href="{% url 'add_favorite' restaurant.id %}" class="px-3 py-2 hover:bg-yellow-200 border-radius-45px rounded transition duration-300">Add to Favorite</a>
                        <a href="{% url 'remove_favorite' restaurant.id %}" class="px-3 py-2 hover:bg-yellow-200 border-radius-45px rounded transition duration-300">Remove Favorite</a>
                        <a href="{% url 'add_review' restaurant.id %}" class="px-3 py-2 hover:bg-yellow-200 border-radius-45px rounded transition duration-300">Add Review</a>
                        <a href="{% url 'remove_review' restaurant.id %}" class="px-3 py-2 hover:bg-yellow-200 border-radius-45px rounded transition duration-300">Remove Review</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>

{% endblock %}
