{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>
    <div class="container">
        <h1 class="text-center">List of Favorite Restaurants</h1>
        <div class="grid gap-5 py-5">
            {% if favorites %}
                {% for favorite in favorites %}
                    <div class="border rounded-3xl border-gray-900 bg-blue-100 transition duration-300 hover:bg-blue-300 py-0 m-0">
                        <div class="m-3">
                            <h3>{{ favorite.restaurant.name }}</h3>
                            <p>Deskripsi: {{ favorite.restaurant.description }}</p>
                            <p>Alamat: {{ favorite.restaurant.address }}</p>
                            <p>Status: {{ favorite.restaurant.halal_status }}</p>
                            <p>Jam Operasi: {{ favorite.restaurant.operating_hours }}</p>
                        </div>
                        <div class="pl-10 m-1 flex justify-end">
                            <a href="{% url 'remove_favorite' favorite.restaurant.id %}" class="px-3 py-2 hover:bg-red-200 rounded transition duration-300">Remove from Favorites</a>
                            <a href="{% url 'restaurant_detail' favorite.restaurant.id %}" class="px-3 py-2 hover:bg-yellow-200 rounded transition duration-300">View Details</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="text-center">You have no favorite restaurants yet.</p>
            {% endif %}
        </div>
    </div>
</body>

{% endblock %}
