{% extends 'base.html' %}
{% block content %}
<div class="container mx-auto my-10 p-5 bg-white shadow-md rounded-lg">
    <h2 class="text-2xl font-bold mb-4">Add a New Recipe</h2>

    <form method="post" enctype="multipart/form-data" action="{% url 'about_me:add_recipe' %}">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="text-right">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded">Save Recipe</button>
        </div>
    </form>
</div>
{% endblock %}